[Desktop Entry] 
Name=Plank Preferences 
Comment=Plank preferences 
GenericName=Plank Preferences 
Categories=Utility; 
Type=Application 
Exec=plank --preferences 
Icon=plank 
Terminal=false 
NoDisplay=false
