[Desktop Entry]
Version=1.0
Type=Application
Name=picom
GenericName=X compositor
Comment=Compositor for X11
Categories=Utility;
TryExec=picom --xrender-sync-fence
Exec=picom --xrender-sync-fence
Icon=picom
# Thanks to quequotion for providing this file!
